{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    {% csrf_token %}
    <h1>Your Bookings!</h1>
    {% if bookings %}

    {% for booking in bookings %}
    <div>
        <a href="#">
            <h5>
                Booking for {{ booking.customer.username }} with {{ booking.stylist.name }} on {{ booking.date }} at
                {{ booking.time }}
            </h5>
        </a>
        <p><p>Status: {{ booking.get_status_display }}</p></p>
    </div>

    {% endfor %}
    {% else %}

    <p>You have no bookings at the moment.</p>

    {% endif %}
</div>

{% endblock content %}