{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="wpb_content_element" data-interval="0">
        <div class="wpb_wrapper tabbed clearfix" data-style="vertical" data-animation="" data-spacing=""
            data-icon-size="" data-full-width-line="" data-color-scheme="accent-color" data-alignment="left">

            <!-- Tabs Navigation -->
            <ul class="wpb_tabs_nav ui-tabs-nav clearfix">
                <li class="tab-item"><a role="button" href="#tab-cuts" class="active-tab"><span>Cuts</span></a></li>
                <li class="tab-item"><a role="button" href="#tab-styling"><span>Blow Dry / Styling</span></a></li>
                <li class="tab-item"><a role="button" href="#tab-treatments"><span>Specialised Treatments</span></a>
                </li>
                <li class="tab-item"><a role="button" href="#tab-colour"><span>Colour</span></a></li>
            </ul>

            <!-- Cuts Tab -->
            <div id="tab-cuts" class="wpb_tab active">
                <!-- Women's Cut Block -->
                <div class="vc_row-fluid vc_row inner_row small-margin-row">
                    <div class="vc_col-sm-6 vc_col-xs-12">
                        <h6>Women's Cut</h6>
                        <p>A customised haircut for women, tailored to suit style and length. Max Duration: 1 hour.</p>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12 prices">
                        <h6>Prices:</h6>
                        <ul>
                            <li>£40 (Junior)</li>
                            <li>£55 (Mid)</li>
                            <li>£80 (Senior)</li>
                        </ul>
                    </div>
                </div>

                <!-- Men's Cut Block -->
                <div class="vc_row-fluid vc_row inner_row small-margin-row">
                    <div class="vc_col-sm-6 vc_col-xs-12">
                        <h6>Men's Cut</h6>
                        <p>A tailored haircut for men, including fades, trims, or styles. Max Duration: 40 minutes.</p>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12 prices">
                        <h6>Prices:</h6>
                        <ul>
                            <li>£20 (Junior)</li>
                            <li>£35 (Mid)</li>
                            <li>£50 (Senior)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Styling Tab -->
            <div id="tab-styling" class="wpb_tab">
                <!-- Blow-Dry & Styling Block -->
                <div class="vc_row-fluid vc_row inner_row small-margin-row">
                    <div class="vc_col-sm-6 vc_col-xs-12">
                        <h6>Blow-Dry & Styling</h6>
                        <p>A blow-dry styling session to add volume and smoothness. Maximum Duration: 45 minutes.</p>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12 prices">
                        <h6>Prices:</h6>
                        <ul>
                            <li>£25 (Junior)</li>
                            <li>£40 (Mid)</li>
                            <li>£55 (Senior)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Treatments Tab -->
            <div id="tab-treatments" class="wpb_tab">
                <!-- Specialised Hair Treatments Block -->
                <div class="vc_row-fluid vc_row inner_row small-margin-row">
                    <div class="vc_col-sm-6 vc_col-xs-12">
                        <h6>Specialised Hair Treatments</h6>
                        <p>Restore hair health with treatments tailored for your hair. Max Duration 4 hours.</p>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12 prices">
                        <h6>Prices:</h6>
                        <ul>
                            <li>£30 (Junior)</li>
                            <li>£45 (Mid)</li>
                            <li>£70 (Senior)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Colour Tab -->
            <div id="tab-colour" class="wpb_tab">
                <div class="vc_row-fluid vc_row inner_row vc_row-flex small-margin-row">
                    <div class="vc_col-sm-6 vc_col-xs-12">
                        <h6>Hair Colouring</h6>
                        <p>Full or partial colouring of hair, including highlights. Max Duration 4 hours.</p>
                    </div>
                    <div class="vc_col-sm-3 vc_col-xs-12 prices">
                        <h6>Prices:</h6>
                        <ul>
                            <li>£60 (Junior)</li>
                            <li>£100 (Mid)</li>
                            <li>£160 (Senior)</li>
                        </ul>
                    </div>
                </div>
            </div>



            <!-- Add more tabs here following the same structure -->
        </div>
    </div>
</div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/services.js' %}"></script>
{% endblock %}