{% extends 'base.html' %}

{% load static %}
{% block content %}


<div class="container">
    <div class="wpb_content_element" data-interval="0">
        <div class="wpb_wrapper tabbed clearfix" data-style="vertical" data-animation="" data-spacing="" data-icon-size="" data-full-width-line="" data-color-scheme="accent-color" data-alignment="left">

            <!-- Tabs Navigation -->
            <ul class="wpb_tabs_nav ui-tabs-nav clearfix">
                <li class="tab-item"><a role="button" href="#tab-cuts"><span>Cuts</span></a></li>
                <li class="tab-item"><a role="button" href="#tab-styling"><span>Blow Dry / Styling</span></a></li>
                <li class="tab-item"><a role="button" href="#tab-treatments" class="active-tab"><span>Specialised Treatments</span></a></li>
                <li class="tab-item"><a role="button" href="#tab-colour"><span>Colour</span></a></li>
                <li class="tab-item"><a role="button" href="#tab-extensions"><span>Extensions</span></a></li>
                <li class="tab-item"><a role="button" href="#tab-cafe"><span>Café & Bar</span></a></li>
            </ul>

            <!-- Tabs Content -->
            <div class="wpb_tabs_content">
                <div id="tab-cuts" class="wpb_tab">
                    <div class="vc_row-fluid vc_row inner_row vc_row-flex small-margin-row">
                        <div class="vc_col-sm-6">
                            <h6>Ladies Cut and Blow</h6>
                        </div>
                        <div class="vc_col-sm-3">
                            <h6>From R595</h6>
                        </div>
                    </div>
                </div>

                <div id="tab-styling" class="wpb_tab">
                    <div class="vc_row-fluid vc_row inner_row vc_row-flex small-margin-row">
                        <div class="vc_col-sm-6">
                            <h6>Styling Options</h6>
                        </div>
                        <div class="vc_col-sm-3">
                            <h6>From R450</h6>
                        </div>
                    </div>
                </div>

                <div id="tab-treatments" class="wpb_tab active">
                    <div class="vc_row-fluid vc_row inner_row vc_row-flex small-margin-row">
                        <div class="vc_col-sm-6">
                            <h6>Specialised Hair Treatments</h6>
                        </div>
                        <div class="vc_col-sm-3">
                            <h6>From R750</h6>
                        </div>
                    </div>
                </div>

                <!-- Add other tabs similarly -->
            </div>
        </div>
    </div>

</div>
    

{% endblock content %}

{% block extras %}
<script src="{% static 'js/services.js' %}"></script>
{% endblock %}


